.header {
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;

    width: 100%;
    height: 72px;
    background-color: #fff;
    border-bottom: 1px solid #eee;


    img {
        height: 48px;
    }

    .headerList {
        font-size: 14px;

        li {
            display: inline-block;
            margin-left: var(--gap);

            &.active a {
                opacity: 1;
            }
        }

        a {
            opacity: .5;
            transition: opacity .15s;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.headerWrapper {
    composes: wrapper from "../../styles/Utils.module.scss";

    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media (max-width: 992px) {
    .headerList {
        display: none;
    }
}

.mobileTrigger {
    border-radius: 8px;
    background-color: #f7f7fa;
    padding: var(--gap-quarter) var(--gap-half);
    color: #2c2c2c;
    font-size: 14px;
    font-weight: 500;
}


.mobileNav {
    position: absolute;
    top: 72px;
    right: -100%;
    width: 100%;
    height: calc(100vh - 72px);
    background-color: #fff;
    padding: var(--gap);
    transition: right .15s;

    &.mobileNavOpen {
        right: 0;
    }

    li {
        display: flex;
        align-items: center;
        padding: 0 var(--gap-half);
        height: 32px;
        border-radius: 6px;
        margin-bottom: var(--gap-half);

        &.active, &:hover {
            background-color: #f7f7fa;
        }
    }
}


@media (min-width: 992px) {
    .mobileHeader {
        display: none;
    }
}
